/programs/chordWork.py
/programs/convertSongs.py
/js/marie
/js/miranda
/js/thoryvo
data/*
!/data/marie/config.json
!/data/marieNme/config.json
!/data/miranda/config.json
!/data/lucas/config.json
!/data/chris/config.json
!/data/codeDB.json
!/data/chordDB.json
!/data/constants.json
!/data/musicConstants.json
programs/__pycache__
.vscode
